.navigation {
	background-color: #345;
	width: 100%;
}

.navigation a {
	color: #FFF;
	display: inline-block;
	font: 20px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
	font-weight: 100;
	padding: 20px 20px 20px 80px;
	text-decoration: none;
}

.navigation a:hover {
	color: #E88;
	text-decoration: none;
}