.navigation {
	border-color: #CCC;
	border-style: solid;
	border-width: 0 0 1px 0;
	width: 100%;
}

.navigation a {
	color: #CCC;
	display: inline-block;
	font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
	padding: 10px 40px;
	text-decoration: none;
}

.navigation a:hover {
	color: #E88;
	text-decoration: none;
}