body {
	font: 20px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
	font-weight: 100;
}

li {
	border: 0 solid #CDD;
	border-width: 0 0 1px 0;
}

li a {
	cursor: pointer;
	display: block;
	padding: 20px 20px 40px;
}

li a:hover {
	background-color: #CDD;
	text-decoration: none;
}

nav {
	background-color: #345;
	padding-left: 100px;
	width: 100%;
}

nav a {
	color: #FFF;
	display: inline-block;
	padding: 20px 50px;
	text-decoration: none;
}

nav a:hover {
	color: #DFF;
	text-decoration: none;
}

h1 {
	padding: 40px;
}

.member-list img {
	padding: 5px;
}

.sprint, .team {
	margin: 40px 80px;
}

.label-name {
	color: #888;
	display: inline-block;
	width: 200px;
}

.label-value {
	display: inline-block;
}
